.form__button-submit {
    width: 111px;
    height: 52px;
    margin: 0 0 0 -74px;
    padding: 0;
    border: none;
    border-radius: 160px;
    background-color: #15762e;
    text-align: center;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: block;
    color: #FBFAF7;
    transition: opacity .7s ease-out;
}

.form__button-submit:hover {
    opacity: 0.6;
    cursor: pointer;
}