.production {
    width: 100%;
    min-height: 568px;
    margin: 0;
    padding: 66px 0 0;
    background-color: #163A24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}