.interest__checklist-text {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
}