@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta'),
        url('./recoleta.woff2') format('woff2'),
        url('./recoleta.woff') format('woff'),
        url('./recoleta.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'), local('NotoSans'),
        url('./notosans.woff2') format('woff2'),
        url('./notosans.woff') format('woff'),
        url('./notosans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}