.partners {
    width: 100%;
    margin: 120px 0;
    padding: 0;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 0;
    align-content: center;
    justify-content: center;
}