.partners__text {
    margin: 27px 0 0;
    padding: 0;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}